<div class="row d-flex ps-5 pt-2">
  <!--Agora Hypatia Start-->
  <div class="card" style="width: 18rem; margin: 10px">
    <div>
      <img
        style="min-height: 390px; max-height: 390px; width: 100%; margin: 5px"
        class="card-img-top img-thumbnail"
        src="https://tr.web.img4.acsta.net/medias/nmedia/18/70/32/36/19214776.jpg"
        alt="movie İmage"
      />
    </div>

    <div class="card-body">
      <h5 class="card-title">Hypatia(Agora)</h5>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush"></ul>
    <div class="card-body">
      <a href="#" routerLink="hypatia" class="btn btn-dark button-body"
        >Detaylar</a
      >
    </div>
  </div>
  <!--The Island Start-->
  <div class="card" style="width: 18rem; margin: 10px">
    <div>
      <img
        style="min-height: 390px; max-height: 390px; width: 100%; margin: 5px"
        class="card-img-top img-thumbnail"
        src="https://m.media-amazon.com/images/M/MV5BMTAwNjk0NjM1ODReQTJeQWpwZ15BbWU3MDc1NjIxMzM@._V1_.jpg"
        alt="movie İmage"
      />
    </div>

    <div class="card-body">
      <h5 class="card-title">The Island(Ada)</h5>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush"></ul>
    <div class="card-body">
      <a href="#" routerLink="the-ısland" class="btn btn-dark button-body"
        >Detaylar</a
      >
    </div>
  </div>
</div>
