<div class="container body" style="margin-top: 10px">
  <ul class="list-group">
    <button
      routerLink=""
      style="border: none; color: white"
      class="btn btn-outline-primary bg-dark"
    >
      Tüm Kategoriler
    </button>
    <button class="list-group-item category-button">Aksiyon</button>
    <button class="list-group-item category-button">Dram</button>
    <button class="list-group-item category-button">Komedi</button>
    <button class="list-group-item category-button">Romnatik</button>
    <button class="list-group-item category-button">Savaş</button>
    <button class="list-group-item category-button">Tarih</button>
    <button class="list-group-item category-button">Belgesel</button>
  </ul>
</div>
